<section class="user">
	<ol class="breadcrumb">
        <li class="active">Forgot Password</li>
    </ol>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputEmail" class="col-sm-4 control-label">Email</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="register.emailId">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="forgotPassword(register.emailId)">Create new password</button>
			</div>
			<div class="col-sm-offset-4 col-sm-10">
				<a href="#/login" class="btn btn-small" ng-click=>Login</a>
			</div>
		</div>
	</form>
</section>